body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 30px 15px;
  
}

.container {
  width: 95%;
  max-width: 1200px;
  margin: 0 auto;
  
}

input{
  display: none;
}

.card {
  width: 100%;
  min-height: 180px;
  padding: 24px;
  margin-bottom: 104px;
  border: 1px solid #ccc;
  border-radius: 10px;
}

label {
  display: block;
  background: #a72413;
  color: white;
  padding: 15px;
  cursor: pointer;
}

.conteudo {
  max-height: 0;
  overflow: hidden;
  background: #eee;
  transition: 0.3s;
  padding: 0 10px;
}

input:checked + label + .conteudo {
  max-height: 200px;
  padding: 20px;
}

@media (max-width: 768px){

  canvas {
      height: 270px;
      width: 250px;
  }
}